html{
    font-size: 	0.625rem;
}

header{
    background-color: #E8E8E8;
}

main{
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 20px;
}
.main-title{
    padding-top: 30px;
    font-size: 3rem;
    text-align: center;
}
.main-title-paragraph{
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-figure{
    padding-top: 5px;
    margin-top: 40px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    border-radius: 2px;
}
.header-image{
    max-width: 100%;
}

.caption{
    padding-top: 5px;
}